@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');

body {
    background-color: rgb(30,30,30);
    color: rgb(255,255,255);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: center;
}

header ul {
    display: flex;
    padding: 10px 10px 50px 10px;
}

li {
    list-style: none;
    margin: 5px 10px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}

h2 {
    margin: 5px;
    font-weight: 400;
    text-align: center;
}

h3 {
    margin: 0;
}

.subtitle {
    font-size: 50px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-section {
    margin-top: 10vh;
    text-align:center;
}

.hero-section {
    margin-top: 12vh;
    text-align:center;
}

.light-text {
    font-weight: 100;
}

footer {
    position: fixed;
    bottom: 0;
    left: 60;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    display: flex;
    padding: 0px 10px 20px 34px;
}

footer h2 {
    display: flex;
    padding: 20px 10px 0px 0px;
}

.options {
    display: flex;
}

.options a {
    margin: 40px 10px;
}

a {
    text-decoration: none;
    color: rgb(255,255,255);
}

.socials {
    width: 70px;
    height: 140px;
    background-color: rgb(124, 147, 166);
    border-radius: 20px 0 0 20px;
    position: fixed;
    right: 0;
    top: 27vh;
}

@media only screen and (max-width: 600px) {
.socials {
    display: none;
}
}

.social {
    width: 100%;
    height: 45%;
}

.wave {
    fill: rgb(0,0,0);
    width: 100vw;
    height: 35vh;
    position: fixed;
    bottom: 0;
    left: 0;
}

.social svg {
    fill: rgb(255,255,255);
}

a:hover {
    color: rgb(255,0,166);
}

/* footer */

.header-card {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.banner ul {
    display: flex;
    padding: 0px 10px 20px 34px;
 }
.banner h4 {
    position: flex;
    font-weight: 500;
    padding: 0px 0px 0px 45px;
}


/*work page*/

.work-details {
    width: 50%;
}

.work-details td {
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    .work-details {
        width: 80%;
    }

    .work-details td {
        padding: 5px;
    }
}

/*about me*/


.about-me {
    display: grid;
    align-items: center;
    grid-template-columns: 0.4fr 0.5fr 3fr 0.4fr;
    column-gap: 15px;
}

.about-me img {
    height: 220px;
    border-radius: 40%;
    align-items: center;
}

/* .sub-pages-footer {
    position: fixed;
    bottom: 0;
    left: 60;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .sub-pages-footer ul {
    display: flex;
    padding: 0px 10px 20px 34px;
}

.sub-pages-footer h2 {
    display: flex;
    padding: 20px 10px 0px 0px;
}*/

@media only screen and (max-width: 600px) {
    .sub-pages-footer {
        position: relative;
    }
}


/* contact page */
.form-submit {
    width: 50%;
}

.form-submit form {
    width: 100%;
}

.form-submit .form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-control {
    width: 50%;
    border: none;
    font-size: 20px;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 0;
}

.form-row .form-control:focus,
.form-submit textarea:focus {
    outline: 0;
    background-color: yellow;
}

.form-submit textarea {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    border: none;
    padding: 0;
    resize: none;
    margin-top: 5px;
    font-size: 20px;
    padding: 20px 0;
}

form button {
    width: 100%;
    background-color: rgb(79,177,79);
    color: rgb(255,255,255);
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .form-submit {
        width: 80%;
    }

    .form-submit .form-row {
        display: flex;
        flex-direction: column;
    }

    .form-row .form-control {
        width: 100%;
        margin-top: 5px;
    }
}

/* project page */
/* directory */
.projects-grid {
    padding: 50px 25px 20px 25px;
}

.img-li {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0;
}

.subtitle-proj {
    font-size: 40px;
}

/* project pages */
.proj-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 150px;
    width: 70%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px 250px 20px 250px; */
}

.proj-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border: solid 10px #0a3149;
}









